/* Ipad Pro 12.9 */
@media all and (min-device-width: 834px) and (max-device-width: 1024px) {
	header { flex-flow: column wrap; }
	.name, .navigation, .plant-fall { width: 100vw; }
	.navigation { flex-direction: row; }
}

@media all and (min-device-width: 414px) and (max-device-width: 834px) and (orientation: portrait) {

}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
