/* переменные */
:root {
  --pink: #FF6EFD;
  --blue: #1C39FF;
  --yellow: #FED700;
  --white: #FFF;
}

/* общие стили */
body {
  background-color: var(--pink);
  font-family: "MacPawFixelDisplay", "Helvetica", "Arial", sans-serif;
}

/* заголовок 1 уровня */
h1 {
  font-family: 'MacPaw Fixel';
  font-weight: 400;
  font-size: 86px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
}

/* заголовок 2 уровня */
h2 {
  font-family: 'MacPaw Fixel';
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--white);
  }

/* параграф */
p {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--white);
}

/* первый экран */
.header, .screen-2 {
  display: flex;
  flex-flow: wrap;
  max-width: 1920px;
  padding: 10px 10px 0 10px;
  margin: 0 auto;
}

/* все дочерние элементы в хедере с закруглением и синие */
.header > * {
  background-color: var(--blue);
  border-radius: 10px;
}

/* блок с заголовком Лаборатория */
.name {
  max-width: 1545px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 4;
}

/* заголовок Лаборатория */
.name h1 {
  margin: 26px 58px 26px 100px;
}

/* круг */
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--yellow);
}

/* группа кругов */
.cirle-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 530px;
  column-gap: 22px;
  margin-right: 100px;
}

/* блок с фруктами */
.plant-fall {
  display: flex;
  flex: 4;
  max-width: 1545px;
  margin: 10px 0;
}

/* изображение в блоке */
.plant-fall img {
  max-width: 1396px;
  margin: 26px auto;
}

/* указатель */
.navigation {
  display: flex;
  flex-direction: column;
  row-gap: 352px;
  flex: 1;
  margin: 10px 0 10px 10px;
}

/* указатель вверх */
.upimg {
  margin: 54px auto 54px 54px;
}

/* указатель вниз */
.downimg {
  margin: 54px auto 54px 54px;
}

/* расстояние до изображений */
.up, .down {
  margin-bottom: 26px;
}

.block-2 {
  display: inline-block;
}

/* блок с кодом */
.code {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  padding: 80px 100px;
  background-color: var(--blue);
  border-radius: 10px;
}

/* заголовок Генетический код */
.code h2 {
  font-size: 70px;
  margin-top: 134px;
}

/* текст кода */
.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* высота строки для кода */
.text p {
  line-height: 70px;
}

/* блок загрузки */
.loading {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  margin: 10px 0 10px 0px;
  max-width: 910px;
  padding: 20px;
  background-color: var(--blue);
  border-radius: 10px;
}

/* элемент загрузки */
.item {
  width: 65px;
  height: 236px;
  border-radius: 14px;
  background-color: var(--yellow);
}

/* блок с конвейером */
.production {

}
