/* переменные */
:root {
  --pink: #FF6EFD;
  --blue: #1C39FF;
  --yellow: #FED700;
  --white: #FFF;
}

body {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(20, 9.167vw);
  padding: 10px;
  background-color: var(--pink);
  font-family: "MacPawFixelDisplay", "Helvetica", "Arial", sans-serif;
}

/* заголовок 1 уровня */
h1 {
  font-family: 'MacPawFixelDisplay';
  font-weight: 400;
  font-size: 4.444vw;
  line-height: 8.889vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
}

/* заголовок 2 уровня */
h2 {
  font-family: 'MacPawFixelDisplay';
  font-weight: 400;
  font-size: 2.222vw;
  line-height: 3.056vw;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--white);
  }

/* параграф */
p {
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 1.667vw;
  line-height: 2.083vw;
  color: var(--white);
}

body {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(20, 9.167vw);
  padding: 10px;
}

.block {
  position: relative;
  display: block;
  background: var(--blue);
  border-radius: 30px;
}

.one {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.146vw;
  padding: 1.354vw 4vw;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.two {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
}
.three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.813vw;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 7;
}
.four {
  padding: 8.993vw 5.036vw;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 11;
}
.five {
  display: flex;
  flex-direction: row;
  column-gap: 0.480vw;
  padding: 2.278vw;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 13;
}
.six {
  display: flex;
  flex-direction: row;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 13;
}
.seven {
  display: flex;
  flex-direction: row;
  padding: 6.250vw 14.375vw;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 13;
  grid-row-end: 19;
}
.eight {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 19;
  grid-row-end: 20;
}
.nine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.396vw 5.208vw;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 20;
  grid-row-end: 21;
}

/* группа квадратов */
.block-3 {
  display: flex;
  flex-direction: column;
}

.middle {
  display: flex;
  flex-direction: column;
}

.circle {
  width: 4.514vw;
  height: 4.514vw;
  border-radius: 50%;
  background: var(--yellow);
}

/* стрелки */
.up, .down {
  width: 5.313vw;
  height: 5.625vw;
    margin-bottom: 1.354vw;
}

/* текст кода */
.text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.code {
  margin-top: 5.556vw;
  text-align: center;
}
/* полоски в загрузке */
.item {
  width: 3.333vw;
  height: 12.292vw;
  background: var(--yellow);
  border-radius: 0.694vw;
  /* margin: 0.972vw 0 0 0.972vw; */
}

.cableholder {
  display: flex;
  flex-direction: column;
  margin-left: 10.791vw;
}

.holder{
  width: 23.750vw;
  height: 17.969vw;
}

.box, .box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.917vw;
  height: 22.917vw;
  background: var(--white);
}
.box {
  margin-left: 0.417vw;
  margin-top: -1.042vw;
}
.box-2 {
  margin-left: 0.694vw;
  margin-top: 25.625vw;
}

.conveyor {
  width: 59.167vw;
  height: 2.240vw;
  margin-left: -62.458vw;
  margin-top: 49.236vw;
}

.smallflower {
  width: 16.458vw;
  height: 16.458vw;
}
.strawberry {
  width: 17.135vw;
  height: 18.385vw;
}
/* анимация для бегущей строки */
.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 5s infinite linear;
}
.marquee {
  font-weight: 700;
  font-size: 8.889vw;
  line-height: 12.292vw;
  white-space: nowrap;
  color: var(--blue);
}
.apple {
  width: 1090px;
  height: 750px;
  display: block;
  position: relative;
  /* margin-left: 143px; */
  background: url('../img/apple.svg');
}

/* стили банана */
  .banana {
    width: 1090px;
    height: 750px;
    /* display: block; */
    position: relative;
    z-index: 2;
    background: url('../img/banana.svg');
  }

  .path-banana{
    width: 1090px;
    height: 750px;
    /* display: block; */
    position: relative;
    animation: path-banana 5s linear;
  }

  .path-apple {
    width: 1090px;
    height: 750px;
    position: absolute;
    animation: path-banana 5s linear;
    animation-delay: .3s;
  }

  .fall {
    position: absolute;
    top: 0;
    left: 0;
    animation: fall 5s steps(1);
    animation-delay: .5s;
    animation-fill-mode: forwards;
  }

/* фрукты */
/* движение банана */
/* отвечает за падение */
@keyframes path-banana {
  0% {left: 0px; top: -1500px;}
  100% {left: 0px; top: 155px;}
}

@keyframes path-apple {
  0% {left: 0px; top: -750px;}
  100% {left: 0px; top: 208px;}
}

/* упавший банан */
@keyframes fall {
  0% {opacity: 0;}
  100% {opacity: 1; background-position: 0 -750px;}
}

/* анимация для бегущей строки */
@keyframes scroll {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0) }
}
